
html,
body {
  height: 100%;
  background-color: #092847;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #092847;
}

.cover-container {
  max-width: 42em;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}



.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


.cover-heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  color: white;
  padding-top: 100px;
}

.lead {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 2.2rem;
  opacity: 60%;
}

u {
  font-size: 1rem;
  font-weight: 400;
}

.cur-title {
  font-family: 'Poppins', sans-serif;
  color: #CDBEA3;
  font-weight: 500;
  font-size: 1rem;
}

.cur-desc {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-weight: 300;
  font-size: 1.2rem;
  float: left;
}

.cur-det {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-weight: 300;
  font-size: 1.2rem;
  float: left;
  opacity: 60%;
}

.currently {

}

a {
  color: #3370FF;
  font-weight: 500;
}

a :hover {
  color: 
}